In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
!pip install ipython-sql sqlalchemy

%load_ext sql

%sql sqlite:///movieData.db

import pandas as p
moviedata=p.read_csv('/kaggle/input/imdb-dataset-of-top-1000-movies-and-tv-shows/imdb_top_1000.csv')

import sqlite3
conn=sqlite3.connect('/kaggle/working/movieData.db')

moviedata.to_sql('moviedata',conn, if_exists='replace',index=False)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.21.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

1000

In [2]:
%%sql
select Released_Year as year,Gross as gross,avg(Gross) as avg_gross
from moviedata
where Released_Year is not null and Gross is not null
group by year
order by avg_gross DESC;

 * sqlite:///movieData.db
Done.

[('1924', '977,375', 977.0),
 ('1949', '449,191', 449.0),
 ('1955', '57,226', 355.5),
 ('1927', '1,236,166', 270.0),
 ('2019', '53,367,844', 228.0),
 ('2012', '162,805,434', 215.57142857142858),
 ('2015', '342,370', 212.8695652173913),
 ('1997', '57,598,247', 210.23529411764707),
 ('1957', '4,360,000', 202.0),
 ('1970', '541,940', 201.0),
 ('2018', '1,661,096', 185.92857142857142),
 ('1973', '159,600,000', 175.7),
 ('2014', '188,020,017', 175.16129032258064),
 ('PG', '173,837,933', 173.0),
 ('1937', '172,885', 172.0),
 ('2009', '6,532,908', 171.2),
 ('1977', '322,740,140', 164.33333333333334),
 ('1936', '163,245', 163.0),
 ('2003', '377,845,905', 161.57142857142858),
 ('1940', '288,475', 153.66666666666666),
 ('1988', '11,990,401', 152.66666666666666),
 ('2017', '209,726,015', 147.65),
 ('1951', '3,969,893', 138.5),
 ('1994', '28,341,469', 128.5),
 ('2011', '13,182,281', 126.66666666666667),
 ('2010', '292,576,195', 123.72727272727273),
 ('2016', '5,017,246', 123.69565217391305),
 ('1971', '6,207,725', 123.57142857142857),
 ('1975', '112,000,000', 120.0),
 ('2007', '1,223,869', 119.96),
 ('1984', '5,321,508', 117.0),
 ('2006', '53,089,891', 116.95833333333333),
 ('2005', '70,511,035', 116.86666666666666),
 ('1948', '332,930', 115.66666666666667),
 ('1995', '100,125,643', 111.25),
 ('2008', '534,858,444', 107.11764705882354),
 ('2001', '315,544,750', 103.92),
 ('1991', '130,742,922', 102.16666666666667),
 ('1981', '248,159,971', 97.5),
 ('1965', '15,000,000', 96.33333333333333),
 ('1990', '46,836,394', 94.375),
 ('1956', '93,740,000', 93.0),
 ('1980', '290,475,067', 91.83333333333333),
 ('1964', '275,902', 87.83333333333333),
 ('2002', '342,551,365', 84.0),
 ('2004', '34,400,301', 81.89655172413794),
 ('1954', '269,061', 81.5),
 ('1983', '45,598,982', 81.2),
 ('1989', '197,171,806', 77.55555555555556),
 ('1999', '37,030,102', 75.88235294117646),
 ('1982', '13,782,838', 73.9),
 ('1992', '2,832,029', 73.6),
 ('1979', '83,471,511', 70.36363636363636),
 ('1998', '216,540,909', 70.0),
 ('1939', '9,600,000', 69.66666666666667),
 ('1972', '134,966,411', 64.33333333333333),
 ('1960', '32,000,000', 63.888888888888886),
 ('2000', '187,705,427', 62.3125),
 ('1974', '57,300,000', 59.0),
 ('1985', '210,609,762', 55.875),
 ('2013', '1,429,534', 55.7037037037037),
 ('1993', '96,898,818', 53.68181818181818),
 ('1950', '96,568', 53.0),
 ('1969', '102,308,889', 52.666666666666664),
 ('1967', '39,481', 52.0),
 ('1986', '85,160,248', 50.125),
 ('1976', '28,262,574', 49.4),
 ('1966', '6,100,000', 47.75),
 ('1968', '5,321,508', 41.5),
 ('1959', '13,275,000', 37.166666666666664),
 ('1978', '48,979,328', 33.75),
 ('1987', '46,357,676', 33.583333333333336),
 ('1953', '30,500,000', 30.0),
 ('1962', '44,824,144', 29.0),
 ('1925', '5,450,000', 27.5),
 ('1996', '16,501,785', 25.0),
 ('1931', '19,181', 23.5),
 ('1963', '12,100,000', 21.5),
 ('1928', '21,877', 21.0),
 ('1952', '8,819,028', 20.5),
 ('1946', '23,650,000', 13.0),
 ('1933', '10,000,000', 10.0),
 ('1945', '9,460,000', 9.0),
 ('1958', '3,200,000', 7.333333333333333),
 ('1961', '8,284,000', 5.0),
 ('1921', '5,450,000', 5.0),
 ('1944', '5,720,000', 4.5),
 ('1934', '4,360,000', 4.0),
 ('1938', '3,981,000', 3.0),
 ('1935', '2,537,520', 3.0),
 ('1930', '3,270,000', 3.0),
 ('1947', '2,650,000', 2.0),
 ('1941', '1,585,634', 1.5),
 ('1942', '1,024,560', 1.0),
 ('1926', '1,033,895', 1.0)]

In [3]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('movieData.db')
Query=  """select Released_Year as year,Gross as gross,avg(Gross) as avg_gross
from moviedata
where Released_Year is not null and Gross is not null
group by year
order by avg_gross DESC;"""
Temp_df= pd.read_sql(Query,conn)
Temp_df.to_csv("query5.csv", index= False)